@media only screen {

    /*initialization*/
    * {
        padding  : 0;
        margin   : 0;
        font-size: 1em;
    }

    *[data-hidden] {
        display: none !important;
    }

    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    /*body*/
    header,
    main,
    footer {
        display: inline-block;
    }

    html {
        color: #414141;
    }

    html.grayscale {
        -webkit-filter: grayscale(100%);
        -moz-filter   : grayscale(100%);
        -ms-filter    : grayscale(100%);
        -o-filter     : grayscale(100%);
        filter        : progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
        _filter       : none;
    }

    /*object*/
    span,
    div,
    picture {
        display: inline-block;
    }

    picture>img {
        float: left;
    }

    button {
        border          : 0;
        background-color: inherit;
    }

    input,
    select {
        font-size  : 1em;
        line-height: normal !important;
    }

    input::placeholder {
        color      : #AAA;
        font-size  : .9em;
        font-weight: lighter;
    }

    input::-webkit-input-placeholder {
        line-height: normal !important;
    }

    iframe {
        border: 1px solid #AAA;
    }

    a {
        font-size: 1em;
    }

    a:link {
        color          : inherit;
        text-decoration: none;
    }

    a:visited {
        color: inherit;
    }

    a[href],
    a[href] * {
        cursor: pointer;
    }

    *[onclick] {
        cursor: pointer;
    }

    p {
        margin-bottom: .5em;
    }
}