@media only screen and (min-width: 0) {
    div.file_odd {
        width: 100%;
        float: left;
        padding-top: .5em;
        margin-top: .5em;
        margin-bottom: 1em;
    }
    div.file_odd h3 {
        font-size: 1.1em;
        float: left;
        border-bottom: 1px solid #db3737;
        padding-right: .5em;
    }
    div.file_odd ul {
        margin-top: 5px;
        width: calc(100% - 10px);
        margin-left: 10px;
        float: left;
    }
    div.file_odd ul li {
        font-size: .9em;
    }
    div.file_odd ul li::before {
        content: none;
    }
    div.file_odd ul li span {}
    div.file_odd ul li a {}
}
