@font-face {
    font-family: "Noto_Sans_TC_Bolder";
    src        : url("/oddi_src/font/NotoSansTC/NotoSansTC-Medium.otf") format('opentype');
    font-weight: bolder;
}

@font-face {
    font-family: "Noto_Sans_TC_Bold";
    src        : url("/oddi_src/font/NotoSansTC/NotoSansTC-Regular.otf") format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "Noto_Sans_TC";
    src        : url("/oddi_src/font/NotoSansTC/NotoSansTC-Light.otf") format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: "Noto_Sans_TC_Lighter";
    src        : url("/oddi_src/font/NotoSansTC/NotoSansTC-Thin.otf") format('opentype');
    font-weight: lighter;
}

@media only screen {
    html {
        font-size  : .9rem;
        font-family: "Noto_Sans_TC";
    }

    .transparent {
        color           : transparent;
        background-color: transparent;
        cursor          : default;
        display         : block;
        line-height     : 100%;
    }

    .transparent:link {
        color           : transparent;
        background-color: transparent;
        cursor          : default;
    }

    .transparent:visited {
        color           : transparent;
        background-color: transparent;
        cursor          : default;
    }

    .text_white {
        color: #F8F8F8;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: inline-block;
        color  : inherit;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    h5 {
        font-size: .9em;
    }

    h6 {
        font-size: .8em;
    }

    p {
        font-size  : 1em;
        line-height: 1.7;
    }

    p.noContent_odd {
        color    : #CCC;
        font-size: 1.5em;
    }

    .c0 {
        font-size: 1.8em;
    }

    .c1 {
        font-size: 1.6em;
    }

    .c2 {
        font-size: 1.4em;
    }

    .c3 {
        font-size: 1.2em;
    }

    .c4 {
        font-size: 1em;
    }

    /*ex: 內文*/
    .c5 {
        font-size: .9em;
    }

    /*ex: 元件*/
    .c6 {
        font-size: .8em;
    }

    /*ex: 附加資訊*/
}
