@media only screen and (min-width: 0) {
    div.fontSize_odd {
        /* width: 100%; */
        /* margin-top: .5em; */
        /* margin-bottom: -5px; */
        float: left;
    }

    div.fontSizeContent_odd {
        float: left;
    }

    div.fontSizeContent_odd button {
        width           : 1.8em;
        height          : 1.8em;
        border          : 1px solid rgb(39, 21, 107);
        transition      : linear 100ms;
        border-radius   : 5px;
        margin-right    : 3px;
        background-color: white;
    }

    div.fontSizeContent_odd button:hover {
        background-color: rgb(39, 21, 107);
        color           : white;
    }
}