@media only screen {
    .fake {
        width   : 100%;
        position: relative;
    }

    .dummy {
        width   : 100%;
        height  : 100%;
        position: relative;
    }

    .disabled_odd {
        /*user-select: none;*/
        pointer-events: none;
    }

    input.bottom_line {
        background-color: transparent;
        border          : 0;
        border-bottom   : 1px solid #BBB;
        width           : calc(100% - 10em);
        /*margin        : 2px 0 2px 0;*/
        /*padding       : 0 0 2px 0;*/
    }

    input.bottom_line:focus {
        border-bottom: 1px solid #333;
    }

    input.noLine {
        border: 0;
    }

    .tips {
        font-size: 0.625rem;
        color    : #999;
    }

    .mark_place {
        position: relative;
    }

    .mark {
        position: absolute;
        bottom  : 0;
        right   : 0;
        float   : right;
    }

    .number {
        width: 50px;
    }

    .text_XS {
        width: 100px;
    }

    .text_S {
        width: 200px;
    }

    .text_M {
        width: 300px;
    }

    .text_L {
        width: 500px;
    }

    .text_XL {
        width: 700px;
    }

    img {
        overflow       : hidden;
        object-fit     : cover;
        object-position: 0 0;
    }

    .more_odd {
        position: absolute;
        float   : right;
        bottom  : 3px;
        right   : 0;
    }

    span.more_odd a {
        cursor: pointer;
    }

    .fakeTable_parent {
        display: table;
    }

    .fakeTable {
        display       : table-cell;
        vertical-align: middle;
        text-align    : center;
    }

    .rssIcon {
        display         : inline-block;
        width           : 1.0em;
        height          : 1.0em;
        border-radius   : 0.3em;
        box-shadow      : 0.5px 0.5px #CCC;
        background-color: var(--color-orenge);
    }

    .rssIcon>img {
        width : 70%;
        height: 70%;
        margin: 15%;
        float : left;
    }

    #poweredByPython {
        width           : 80px;
        height          : 32px;
        display         : inline-block;
        background-image: url("/static/img/python-powered-w-200x80.png");
        background-size : contain;
    }

    .accessibilityBadge {
        border: 0;
        float : right;
        width : calc(88px * 1.6);
        height: calc(31px * 1.6);
    }

    .accessibilityBadge>img {
        width : 100%;
        height: 100%;
    }
}