@media only screen and (min-width: 0) {
    div.content_list {}

    div.content_list ul {
        list-style    : none;
        width         : 100%;
        padding-bottom: .5em;
    }

    div.content_list ol {
        list-style    : none;
        width         : 100%;
        padding-bottom: .5em;
    }

    div.content_list ul li[data-icon-file] a {
        text-decoration: underline;
    }

    div.content_list ul li[data-icon-file]::before {
        content          : "";
        display          : inline-block;
        width            : .8em;
        height           : .8em;
        margin-bottom    : .1em;
        margin-right     : .5em;
        background-image : url("/static/icon/download.png");
        background-size  : 100%;
        background-repeat: no-repeat;
    }

    div.content_list ul li[data-icon-link] a {
        text-decoration: underline;
    }

    div.content_list ul li[data-icon-link]::before {
        content          : "";
        display          : inline-block;
        width            : .8em;
        height           : .8em;
        margin-bottom    : .1em;
        margin-right     : .5em;
        background-image : url("/static/icon/link.png");
        background-size  : 100%;
        background-repeat: no-repeat;
    }

    div.content_list[data-style="0"] ul li {
        width: 100%;
    }

    div.content_list[data-style="1"] ul li {
        width       : calc(50% - 5px);
        margin-right: 10px;
        float       : left;
    }

    div.content_list[data-style="1"] ul li:nth-child(2n) {
        margin-right: 0;
    }

    div.content_list[data-style="2"] ul li {
        width       : calc(33% - 6px);
        margin-right: 9px;
        float       : left;
    }

    div.content_list[data-style="2"] ul li:nth-child(3n) {
        margin-right: 0;
    }

    div.content_list[data-style="3"] ul li {
        width       : calc(25% - 9px);
        margin-right: 12px;
        float       : left;
    }

    div.content_list[data-style="3"] ul li:nth-child(4n) {
        margin-right: 0;
    }

    div.content_list[data-style="4"] ul li {
        height       : 2em;
        margin-right : 10px;
        margin-bottom: 10px;
        float        : left;
    }

    div.content_list[data-style="4"] ul li::before {
        content: none;
    }

    div.content_list[data-style="4"] ul li img {
        width : auto;
        height: 3em;
    }
}

@media only screen and (min-width: 0) {}