/* ol ul */
@media only screen and (min-width: 0) {
    div.content_list>ul.list, div.content_list>ol.list {
        width: 100%;
        float: left;
    }
    div.content_list>ul.list>li, div.content_list>ol.list>li {
        width: 100%;
        float: left;
    }
    div.content_list>ul.nodot {}
    div.content_list>ul.nodot>li::before {
        content: none !important;
    }
    div.content_list>ul.list2, div.content_list>ol.list2 {}
    div.content_list>ul.list2>li, div.content_list>ol.list2>li {
        width: calc(50% - 10px);
        padding-left: 5px;
        padding-right: 5px;
    }
    div.content_list>ul.list3, div.content_list>ol.list3 {}
    div.content_list>ul.list3>li, div.content_list>ol.list3>li {
        width: calc(33% - 10px);
        padding-left: 5px;
        padding-right: 5px;
    }
    div.content_list>ul.list4, div.content_list>ol.list4 {}
    div.content_list>ul.list4>li, div.content_list>ol.list4>li {
        width: calc(25% - 10px);
        padding-left: 5px;
        padding-right: 5px;
    }
}
/* hr */
@media only screen and (min-width: 0) {
    div.content_hr>hr {
        border: 0;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #414141;
    }
    div.content_hr>hr.hr_dotted {
        border-top-style: dotted;
    }
    div.content_hr>hr.hr_dashed {
        border-top-style: dashed;
    }
    div.content_hr>hr.hr_double {
        border-top-style: double;
    }
}
/* div */
@media only screen and (min-width: 0) {
    div.content_media>div {
        position: relative;
        width: 100%;
    }
    div.content_media>div::before {
        content: "";
        display: block;
        margin-top: 56.25%;
    }
    div.content_media>div>img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
    }
    div.content_media>div>iframe, div.content_media>div>video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    div.content_media>div.ratio11 {}
    div.content_media>div.ratio11::before {
        content: "";
        display: block;
        margin-top: 100%;
    }
    div.content_media>div.ratio43 {}
    div.content_media>div.ratio43::before {
        content: "";
        display: block;
        margin-top: 75%;
    }
    div.content_media>div.ratio21 {}
    div.content_media>div.ratio21::before {
        content: "";
        display: block;
        margin-top: 50%;
    }
    div.content_media>div.ratio41 {}
    div.content_media>div.ratio41::before {
        content: "";
        display: block;
        margin-top: 25%;
    }
    div.content_media>div.ratio34 {}
    div.content_media>div.ratio34::before {
        content: "";
        display: block;
        margin-top: 133%;
    }
    div.content_media>div.ratio916 {}
    div.content_media>div.ratio916::before {
        content: "";
        display: block;
        margin-top: 178%;
    }
    div.content_media>div.ratio12 {}
    div.content_media>div.ratio12::before {
        content: "";
        display: block;
        margin-top: 200%;
    }
    div.content_media>div.ratio14 {}
    div.content_media>div.ratio14::before {
        content: "";
        display: block;
        margin-top: 400%;
    }
}
/* p */
@media only screen and (min-width: 0) {
    div.content_title_L>p.italic, div.content_title_M>p.italic, div.content_text>p.italic {
        font-style: italic;
    }
    div.content_title_L>p.size07, div.content_title_M>p.size07, div.content_text>p.size07 {
        font-size: .7em;
    }
    div.content_title_L>p.size09, div.content_title_M>p.size09, div.content_text>p.size09 {
        font-size: .9em;
    }
    div.content_title_L>p.size12, div.content_title_M>p.size12, div.content_text>p.size12 {
        font-size: 1.2em;
    }
    div.content_title_L>p.size14, div.content_title_M>p.size14, div.content_text>p.size14 {
        font-size: 1.4em;
    }
    div.content_title_L>p.bordertop_solid, div.content_title_M>p.bordertop_solid, div.content_text>p.bordertop_solid {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #414141;
    }
    div.content_title_L>p.bordertop_dotted, div.content_title_M>p.bordertop_dotted, div.content_text>p.bordertop_dotted {
        border-top-width: 1px;
        border-top-style: dotted;
        border-top-color: #414141;
    }
    div.content_title_L>p.bordertop_dashed, div.content_title_M>p.bordertop_dashed, div.content_text>p.bordertop_dashed {
        border-top-width: 1px;
        border-top-style: dashed;
        border-top-color: #414141;
    }
    div.content_title_L>p.bordertop_double, div.content_title_M>p.bordertop_double, div.content_text>p.bordertop_double {
        border-top-width: 1px;
        border-top-style: double;
        border-top-color: #414141;
    }
    div.content_title_L>p.borderbottom_solid, div.content_title_M>p.borderbottom_solid, div.content_text>p.borderbottom_solid {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #414141;
    }
    div.content_title_L>p.borderbottom_dotted, div.content_title_M>p.borderbottom_dotted, div.content_text>p.borderbottom_dotted {
        border-bottom-width: 1px;
        border-bottom-style: dotted;
        border-bottom-color: #414141;
    }
    div.content_title_L>p.borderbottom_dashed, div.content_title_M>p.borderbottom_dashed, div.content_text>p.borderbottom_dashed {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-bottom-color: #414141;
    }
    div.content_title_L>p.borderbottom_double, div.content_title_M>p.borderbottom_double, div.content_text>p.borderbottom_double {
        border-bottom-width: 1px;
        border-bottom-style: double;
        border-bottom-color: #414141;
    }
}
/* table */
@media only screen and (min-width: 0) {
    div.content_table>table.tbody_spacing>tbody>tr:nth-child(2n-1) {
        background-color: white;
    }
    div.content_table>table.theadBorder_noborder>thead {
        border-style: none;
    }
    div.content_table>table.theadBorder_dotted>thead {
        border-style: dotted;
    }
    div.content_table>table.theadBorder_dashed>thead {
        border-style: dashed;
    }
    div.content_table>table.theadBorder_double>thead {
        border-style: double;
    }
    div.content_table>table.tbodyBorder_noborder>tbody {
        border-style: none;
    }
    div.content_table>table.tbodyBorder_dotted>tbody {
        border-style: dotted;
    }
    div.content_table>table.tbodyBorder_dashed>tbody {
        border-style: dashed;
    }
    div.content_table>table.tbodyBorder_double>tbody {
        border-style: double;
    }
}
/* imgs */
@media only screen and (min-width: 0) {
    div.content_img {
        text-align: center;
    }
    div.content_img>picture {
        overflow: hidden;
    }
    div.content_img>picture.imgleft {
        float: left;
    }
    div.content_img>picture.imgright {
        float: right;
    }
    div.content_img>picture.hoverWhite {
        position: relative;
    }
    div.content_img>picture.hoverWhite::before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: attr(alt);
        background-color: rgba(0, 0, 0, .4);
        color: white;
        opacity: 0;
        z-index: 1;
        transition: linear 200ms;
    }
    div.content_img>picture.hoverWhite:hover::before {
        opacity: 1;
    }
    div.content_img>picture.hoverBlack {
        position: relative;
    }
    div.content_img>picture.hoverBlack::before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: "";
        content: attr(alt);
        background-color: rgba(255, 255, 255, .7);
        opacity: 0;
        z-index: 1;
        transition: linear 200ms;
    }
    div.content_img>picture.hoverBlack:hover::before {
        opacity: 1;
    }
    div.content_img>picture.gradientWhite {
        position: relative;
    }
    div.content_img>picture.gradientWhite::before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: attr(alt);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 60%);
        color: white;
        z-index: 1;
    }
    div.content_img>picture.gradientBlack {
        position: relative;
    }
    div.content_img>picture.gradientBlack::before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: attr(alt);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .7) 60%);
        z-index: 1;
    }
}
