@media only screen and (min-width: 0) {
    *[data-usage="headerSearch"] {
        display: none !important;
    }

    *[data-usage="menuSearch"] {
        display: inline-block !important;
        width  : calc(100% - 20px);
        margin : 15px 12px 0 12px;
    }

    [data-usage="headerSearch"] form {
        float: left;
    }

    div.searchObject_odd {
        float        : left;
        width        : calc(100% - 2px);
        height       : 1.4em;
        border       : 1px solid #CCC;
        border-radius: 3px;
        overflow     : hidden;
        font-size    : 1em;
        line-height  : 1.4em;
        margin-bottom: -4px;
    }

    div.searchObject_odd label {
        width           : 2.7em;
        padding-left    : .3em;
        height          : 100%;
        float           : left;
        background-color: rgb(223, 242, 248);
        color           : black;
        text-align      : center;
    }

    div.searchObject_odd input {
        border     : 0;
        float      : left;
        height     : 100%;
        width      : calc(100% - 1.4em - 3em);
        line-height: 30px;
    }

    div.searchObject_odd button {
        width           : 1.4em;
        height          : 100%;
        background-color: rgb(223, 242, 248);
        padding         : 0;
        margin          : 0;
        display         : inline-block;
        border-radius   : 0;
    }

    div.searchObject_odd button img {
        padding: 3px;
        width  : calc(100% - 6px);
        height : calc(100% - 6px);
    }
}

@media only screen and (min-width: 1000px) {
    *[data-usage="headerSearch"] {
        display: inline-block !important;
    }

    *[data-usage="menuSearch"] {
        display: none !important;
    }

    div.searchObject_odd {
        width: 250px;
    }
}

@media only screen and (min-width: 0) {
    div.search_odd {
        width    : 100%;
        float    : left;
        font-size: .9em;
    }

    div.searchBlock_odd {
        width        : 100%;
        float        : left;
        margin-bottom: 10px;
    }

    div.searchContent_odd {
        width: 100%;
    }

    div.searchContent_odd span:nth-child(1) {
        margin-bottom: 5px;
        font-size    : 1.1em;
    }

    div.searchContent_odd div.searchObject_odd {
        width: 100%;
    }

    div.searchContent_odd ul {
        width: 100%;
        float: left;
    }

    div.searchContent_odd ul li {
        width: 100%;
        float: left;
    }

    div.searchContent_odd ul li::before {
        content: none;
    }
}

@media only screen and (min-width: 0) {

    li[data-usage="headerSearch"],
    div[data-usage="sideSearch"] {
        display: none !important;
    }

    div[data-usage="menuSearch"] {
        display: inline-block !important;
        width  : calc(100% - 20px);
        margin : 15px 10px 0 10px;
    }

    div[data-usage="menuSearch"] div.searchObject_odd {
        width      : 100%;
        height     : 1.8em;
        font-size  : .9em;
        line-height: 1.8em;
    }
}

@media only screen and (min-width: 1000px) {

    li[data-usage="headerSearch"],
    div[data-usage="sideSearch"] {
        display: inline-block !important;
    }

    div[data-usage="menuSearch"] {
        display: none !important;
    }
}