@media only screen {
    .doubleLine_title {}
    .doubleLine_title>div {
        padding-bottom: 2px;
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }
    .doubleLine_title>div>div {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: inherit;
    }
    .doubleLine_title h2 {
        text-shadow: 1px 1px #CCC;
    }
    .textShadow_title{
        text-shadow: .3px .3px .5px #AAA;
        /*font-weight: bold;*/
    }
    .textEmboss_title{
        text-shadow: #FFF -1px -1px, #AAA 1px 1px;
        /*font-weight: bold;*/
    }
}
