*{margin:0;padding:0}
html,code{font:15px/22px arial,sans-serif}
html{background:#fff;color:#222;padding:15px}
body{margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px}
*>body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}
p{margin:11px 0 22px;overflow:hidden}
ins{color:#777;text-decoration:none}
#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png) no-repeat;margin-left:-5px;display:inline-block;height:54px;width:150px}
/* 2EDB 66 2ED9 2EDB 2ED8 6C 2EE5 2ED9 2EDB 2ED8 2ED7 2EDB 2ECB 2EC5 61 2ED9 2EDB 67 2ECB 7B 2ED9 2EDB 66 */
.a1{display:none}
/* 2E9E 2EAA 6C 2E97 2EAC 61 2E90 2E8E 67 5F */
.a2{visibility:hidden}
/* 69 6E 5F AB 7D 27E9 27ED 34 30 AB 7D 34 5F */
@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}
@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat 0% 0%/100% 100%}} 




























































































































































































































































































/* 70 61 67 65 7D */